*,
*::before,
*::after {
    box-sizing: border-box;

}


:root {
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 0.9rem;
    
    
}

@media (min-width: 1200px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.5rem;
        --fs-h3: 1.2rem;
        --fs-body: 1.125rem;
    }
}


body {
    background: white;
    color: black;
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 1rem;
    line-height: 1.6;

}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}


/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 3.5em;
    background: #48D1CC;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    transition: transform 200ms ease-in-out;
    margin: 5px;
}

.btn:hover {
    transform: scale(1.2);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }



.header_subtitle,
.about_subtitle {
    background: #48D1CC;
    padding: .25em 1.5em;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1em;
    margin: 0;
    font-size: var(--fs-h3);
    color: white;

}



/*  header section  */

.header {
    position: relative;
}

.header_title {
    font-weight: lighter;
    margin-bottom: .25em;

}

.header_title strong {
    display: block;
}


.header_img {
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
    border-radius: 5px;
}

.header_subtitle {
    display: inline-block;
    color: white;
}

@media (min-width: 600px) {
    .header {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .header_img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;

    }

    .header_subtitle {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}



/*  My skills section  */

.my_skills {

    background-image: url(./images/service.png);
    background-size: cover;
    color: white;
    text-align: center;

}

.skills_title {
    color: #48D1CC;
    font-size: h2;
    margin-bottom: 50px;

}

.skills {
    margin-bottom: 4em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 60px;
    width: auto;
    text-align: center;
}

.skill {
    width: auto;
    margin: 0 auto;
    font-size: 15px;
}

@media (min-width: 800px) {
    .skills {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .skill {
        width: 450px;
        margin: 0 25px;
        font-size: 16px;
    }

}



/*  about me section  */

.about_me {
    max-width: 1000px;
    margin: 0 auto;
}

.about_me_img {
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
    border-radius: 5px;
}

@media (min-width: 600px) {
    .about_me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .about_title {
        grid-area: title;
        margin-bottom: .25em;
    }

    .about_subtitle {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about_me_body {
        font-size: 1.2rem;
    }

    .about_me_img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/*  My work section  */
.my_work {
    background-color: #2F4F4F;
    color: white;
    text-align: center;
}

.work_title {
    margin-bottom: 25px;
}

.work_subtitle {
    color: #48D1CC;
    font-size: 1.5rem;
    margin-bottom: 2em;
    font-family: 'Roboto Slab', serif;
}

.work_experience {
    display: grid;
    grid-template: 200px 280px 280px 200px / 1fr 4fr;

    gap: 17px;
    margin: 0 10px 0 80px;
    text-align: left;
}

.work_detail {
    font-size: var(--fs-body);
}

@media (min-width: 320px) {
    .work_experience {
        display: grid;
        grid-template: 480px 820px 750px 720px / 0.5fr 4fr;
        gap: 10px;
        margin: 0 0px 0 0px;
        text-align: left;
    }

}

@media (min-width: 400px) {
    .work_experience {
        display: grid;
        grid-template: 350px 560px 530px 500px / 0.5fr 4fr;
        gap: 10px;
        margin: 0 0px 0 0px;
        text-align: left;
    }

}

@media (min-width: 600px) {
    .work_experience {
        display: grid;
        grid-template: 250px 420px 420px 400px / 1fr 4fr;
        gap: 17px;
        margin: 0 10px 0 80px;
        text-align: left;
    }

}

@media (min-width: 1000px) {
    .work_experience {
        display: grid;
        grid-template: 240px 320px 320px 220px / 1fr 4fr;
        gap: 17px;
        margin: 0 10px 0 80px;
        text-align: left;
    }

}

/*  profolio section  */

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio_item {
    background: #48D1CC;
    overflow: hidden;

}

.portfolio_img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio_item:focus {
    position: relative;
    z-index: 2;
}

.portfolio_img:hover,
.portfolio_item:focus .portfolio_img {
    transform: scale(1.2);
    opacity: .5;
}

@media (min-width: 1200px) {
    .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}


}

/* footer */

.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.1em;
}

.footer a {
    color: inherit;
    text-decoration: none;
}


.contact {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 0;
}

.contact_item {
    margin: 0 2em;
color:#48D1CC;
}

.contact_link {
    padding-right: 1em;
}

.contact_link:hover {
    opacity: 0.7;
}